<div id="category-header">
  <h1>All Mini Lectures</h1>
  <nav>
    <%= link_to 'New Mini Lecture', new_mini_lecture_path %>
  </nav>
</div>
<div id="list-container">
  <% @mini_lectures.each do |mini_lecture| %>
  <div class="list-item">
    <p class="title"><%= (MedicalCategory.find(mini_lecture.medical_category_id)).category_name %></p>
    <p class="title"><%= link_to 'Topic', mini_lecture_path(mini_lecture) %></p>
    <p><%= mini_lecture.topic %></p>
    <p><%= link_to "Download Document", mini_lecture.document.url(:original, false) %></p>
    <p class="timestamp">
      Created On: <%= mini_lecture.created_at.to_s(:long) %>,
      Updated On: <%= mini_lecture.updated_at.to_s(:long) %>
    </p>
  </div>
  <% end %>
</div>
