<div id="show-container">
  <p id="notice"><%= notice %></p>
  <p><span>Topic: </span><%= @mini_lecture.topic %></p>
  <p><span>Category: </span><%= @medical_category.category_name %></p>
  <p><%= link_to "Download Document", @mini_lecture.document.url(:original, false) %></p>
  <h4><%= link_to 'Edit', edit_mini_lecture_path(@mini_lecture) %></h4>
</div>
