<%= form_for(@pico_question) do |f| %>
  <% if @pico_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pico_question.errors.count, "error") %> prohibited this pico_question from being saved:</h2>

      <ul>
      <% @pico_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :article_link %><br>
    <%= f.text_area :article_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
