

<div id="category-header">
  <h1>PICO Questions</h1>
  <nav>
    <%= link_to 'New PICO Question', new_pico_question_path %>
  </nav>
  <%= form_tag(pico_questions_path, method: :get) do |f| %>
    <%= text_field_tag(:search, nil, placeholder: "PICO Question Keyword Search") %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<div id="list-container">
  <% @pico_questions.each do |pico_question| %>
  <div class="list-item">
    <p class="title"><%= (MedicalCategory.find(pico_question.medical_category_id)).category_name %></p>
    <p class="title"><%= link_to 'Question', pico_question_path(pico_question) %></p>
    <p><%= pico_question.question %></p>
    <p class="title"><%= link_to 'Summary', pico_question_path(pico_question) %></p>
    <p><%= pico_question.summary %></p>
    <p class="title">Article Link</p>
    <p><%= link_to "#{pico_question.article_link}", "http://#{pico_question.article_link}" %></p>
    <p class="timestamp">
      Created On: <%= pico_question.created_at.to_s(:long) %>,
      Updated On: <%= pico_question.updated_at.to_s(:long) %>
    </p>
  </div>
  <% end %>
</div>
