<div id="show-container">
  <p id="notice"><%= notice %></p>
  <h2><%= @pico_question.question %></h2>
  <p><span>Category: </span><%= @medical_category.category_name %></p>
  <p><span>Summary: </span><%= @pico_question.summary %></p>
  <p>
    <span>Article Link: </span>
    <%= link_to "#{@pico_question.article_link}", "http://#{@pico_question.article_link}", :target => "_blank" %>
  </p>
  <h4><%= link_to 'Edit', edit_pico_question_path(@pico_question) %></h4>
  <!-- <%= link_to 'Back', pico_questions_path %> -->
</div>
