<h1>Listing medical_categories</h1>

<table>
  <thead>
    <tr>
      <th>Category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_categories.each do |medical_category| %>
      <tr>
        <td><%= medical_category.category_name %></td>
        <td><%= link_to 'Show', medical_category %></td>
        <td><%= link_to 'Edit', edit_medical_category_path(medical_category) %></td>
        <td><%= link_to 'Destroy', medical_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical category', new_medical_category_path %>
