<div id="category-header">
  <h1>Categories</h1>
  <% if current_user.admin %>
    <nav>
      <%= link_to 'New Medical category', new_medical_category_path %>
    </nav>
  <% end %>
  <%= form_tag(search_path, method: :get) do |f| %>
    <%= text_field_tag(:search, nil, placeholder: "Enter Keyword Search") %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<div id="medical-category-container">
  <% @medical_categories.each do |medical_category| %>
  <div class="category">
    <%= link_to medical_category.category_name, medical_category, class: "category" %>
  </div>
  <% end %>
</div>
