<p id="notice"><%= notice %></p>

<div id="category-header">
  <h1><%= @medical_category.category_name %></h1>
  <% if current_user.admin? %>
    <nav>
      <%= link_to 'Edit This Category', edit_medical_category_path(@medical_category) %>
    </nav>
  <% end %>
</div>
<div id="medical-category-container">
  <div class="category">
    <%= link_to 'Mini Lectures', specific_mini_lectures_path, class: "category" %>
  </div>
  <div class="category">
    <%= link_to 'PICO Questions', specific_pico_questions_path, class: "category" %>
  </div>
  <div class="category">
    <%= link_to 'Review Articles', specific_review_articles_path, class: "category" %>
  </div>
</div>

<%= link_to 'Back', medical_categories_path %>
