<h1><%= @medical_category.category_name %> PICO Questions</h1>

<table>
  <thead>
    <tr>
      <th>Category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pico_questions.each do |pico_question| %>
      <tr>
        <td><%= pico_question.question %></td>
        <td><%= pico_question.summary %></td>
        <td><%= link_to "#{pico_question.article_link}", "http://#{pico_question.article_link}" %></td>
        <td><%= link_to 'Show', pico_question_path(pico_question) %></td>
        <td><%= link_to 'Edit', edit_pico_question_path(pico_question) %></td>
        <td><%= link_to 'Destroy', pico_question_path(pico_question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New PICO Question', new_pico_question_path %>
