<div id="category-header">
  <h1><%= @medical_category.category_name %> PICO Questions</h1>
  <% if current_user.admin? %>
  <nav>
    <%= link_to 'New PICO Question', new_pico_question_path %>
  </nav>
  <% end %>
</div>
<div id="list-container">
  <% @pico_questions.each do |pico_question| %>
  <div class="list-item">
    <p class="title"><%= link_to 'Question', pico_question_path(pico_question) %></p>
    <p><%= pico_question.question %></p>
    <p class="title"><%= link_to 'Summary', pico_question_path(pico_question) %></p>
    <p><%= pico_question.summary %></p>
    <p class="title">Article Link</p>
    <p><%= link_to "#{pico_question.article_link}", "http://#{pico_question.article_link}" %></p>
  </div>
  <% end %>
</div>
